*{
    margin: 0;
    padding: 0;
}
/* banner */
.banner img{
    width: 100%;
    opacity:0.65;

}
.banner h2{
    position: relative;
    top: -140px;
    text-align: center;
    transform: translate(5%, 50%);
    background-color: rgba(22, 134, 134, 0.801);
    width: 80%;
    color: rgb(32, 32, 32);
    font-size: max(50px,1vw);
    font-size: min(50px,3vw);
    border-radius: 30px;
}
.banner input{
    position: relative;
    top: -130px;
    text-align: center;
    transform: translate(13%, 50%);
    width: 70%;
    border-radius: 30px;
    font-size: max(50px,1vw);
    font-size: min(50px,3vw);
    background-color: rgba(220, 238, 238, 0.746);

}

@media (min-width:1100px) {
    .banner h2{
        top:-480px
    }
    .banner input{
        top: -470px;
    }
}
/* Texto e imagens dos bancos  */
.titulo_e_texto h2{
    position: relative;
    top: -15px;
    text-align: center;
    transform: translate(5%, 50%);
    background-color: rgba(22, 134, 134, 0.801);
    width: 40%;
    color: rgb(32, 32, 32);
    font-size: max(60px,1vw);
    font-size: min(60px,3vw);
    border-radius: 30px;

}

.titulo_e_texto p{
    position: relative;
    top: -30px;
    text-align: justify;
    transform: translate(5%, 50%);
    width: 40%;
    color: rgb(32, 32, 32);
    font-size: max(60px,1vw);
    font-size: min(60px,3vw);
    border-radius: 30px;
}

.titulo_e_texto img{
    position: relative;
    top: -90px;
    width: 40%;
    transform: translate(130%, 50%);  
    border-radius: 30px;  
}
.img_servicos img{
    position: relative;
    width: 8%;
    top: -100px;
    border-radius: 30px;
    cursor: pointer;
    left: 5%;
    
}
@media (max-width:300px){
    .titulo_e_texto img{
        margin-top: 10%; 
    }
    .img_servicos img{
        margin-top: 1%;
        margin-left: 1%;
    }

}

@media (min-width:600px){
    .titulo_e_texto img{
        margin-top: -10%; 
    }
    .img_servicos img{
        margin-top: 1%;
        margin-left: 1%;
    }

}

@media (min-width:1000px){
    .titulo_e_texto img{
        margin-top: -19%; 
    }
    .img_servicos img{
        margin-top: 3%;
        margin-left: 1%;
    }

}
/* formulario de simulação*/

.formulario{
    position:relative;
    top: -130px;
    margin: 10%;
    
}

.formulario h2{
    text-align: center;
    transform: translate(-5%, 50%);
    background-color: rgba(22, 134, 134, 0.801);
    width: 80%;
    color: rgb(32, 32, 32);
    font-size: max(50px,2vw);
    font-size: min(50px,5vw);
    border-radius: 60px;
}

.formulario form{
    font-size: max(80px,2vw);
    font-size: min(80px,4vw);
    margin-top: 10px;
    
}
.formulario input{
    
    border-radius: 30px;
    font-size: max(60px,2vw);
    font-size: min(60px,3vw);
    margin-top: 10px;
}


.formulario button{
    border-radius: 30px;
    width: 15%;
    font-size: max(60px,2vw);
    font-size: min(60px,3vw);
    margin-top: 5%;
    background-color: rgba(22, 134, 134, 0.801);
    cursor: pointer;
}

.formulario p{
    font-size: max(50px,2vw);
    font-size: min(50px,3vw);
}

.footer {
    display: flex;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    color: #ffffff;
    background: #6A6A6A;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 3px 21px -5px rgba(0, 0, 0, 0.75);
}

#footer-logo {
    display: flex;
    flex-direction: row;
}

#footer-logo>img {
    width: 10vw;
    height: 20vh;
}

#footer-logo:hover img {
    box-shadow: 0px 3px 21px -5px rgba(10, 236, 180, 0.75);
    border-radius: 50%;
}

.footer-div-map {
    display: flex;
    padding: 2%;
    width: 40vw;
}

.footer-div-map iframe {
    display: flex;
    width: 100%;
    border-radius: 5%;
    box-shadow: 0px 3px 21px -5px rgba(0, 0, 0, 0.75);
}

.footer-div-adress {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.footer-div-adress>a {
    font-size: 1.5rem;
}

.footer-div-social-media {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.footer-sm-icons {
    display: flex;
    flex-direction: row;
    border-radius: 50%;
}

.footer-sm-icons>a>img {
    display: flex;
    width: 4rem;
    padding: 10px;
    align-content: space-between;
}

.footer-div-site-map {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 4rem;
    padding-bottom: 4rem;
}

.footer-div-site-map>div>a {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: space-between;
    padding-top: 1.2rem;
}

div>a:hover {
    font-size: 1.2em;
    color: white;
    text-decoration: wavy;
    border-radius: 8%;
    box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
    -webkit-text-stroke: 2px rgba(92, 236, 217, 0.527);
    transition-timing-function: ease-in-out;
}

@media (min-width: 481px) {
    footer {
        padding: 20px 10px;
    }
    footer>img {
        width: 120px;
    }
}

@media (min-width: 650px) {
    footer {
        display: flex;
    }
}

@media (min-width: 769px) {
    footer {
        flex-direction: row;
    }
    footer>img,
    footer>div {
        flex-grow: 1;
    }
}